{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="row">

  <div class="col-md-8 blog-main">

    <div class="blog-post">
      <h1 class="blog-post-title">{{ blog_obj.title }}</h1>
      <p class="blog-post-meta">
        Posted on {{ blog_obj.created_at|date:"F d, Y, g:i a" }} by {{ blog_obj.author }}
      </p>
      <a class= "badge bg-warning text-decoration-none text-light mb-4"  href="">{{blog_obj.category}}

      </a>

      {% if blog_ob.category %}
      <a href="{% url 'post_by_category' blog_obj.category %}" class="badge badge-warning mb-3">
        {{ category.category_name }}
      </a>
      {% endif %}

      {% if blog_obj.featured_image.url %}
      <img src="{{ blog_obj.featured_image.url }}" alt="{{ blog_obj.title }}" class="img-fluid rounded mb-4 w-100">
      {% else %}
      <div class="bg-light rounded mb-4 d-flex align-items-center justify-content-center h-250 text-muted">
        900 &times; 400
      </div>
      {% endif %}

      <div class="post-content">
        {{ blog_obj.blog_body|safe }}
      </div>
    </div>
    <div>
      <h4>Comment ({{count}})</h4>
      {% if comments %}
      {% for i in comments  %}
      <div class="card">
        <div class="card-body">
          <p class="card-text mb-0">
            {{i.comment}}
          </p>
          <span>
            <small>by {{i.name}}</small>
            <small>| {{i.create_at | timesince }} ago </small>
          </span>
        </div>
      </div>
      {% endfor %}
      {% else %}
      No comment yet.
      {% endif %}
    </div>
    <br>
    <div class="form-group">
      {% if user.is_authenticated %}
      <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <textarea name="comment" class="form-control" placeholder="write your comment"></textarea>
          <input type="submit" value="submit" class="btn btn-primary mt-2">
        </div>
      </form>
      {% else %}
      <p>Login to write a comment</p>
      {% endif %}
    </div>
  </div>


  <div class="col-md-4">

    

    <div class="p-4 mb-3 bg-light rounded">
      <h4 class="font-italic">Categories</h4>
      <ol class="list-unstyled mb-0">
        {% for cat in categories %}
        <li><a href="{% url 'post_by_category' cat.id %}">{{ cat.category_name }}</a></li>
        {% endfor %}
      </ol>
    </div>
    {% if links %}
    <div class="p-4 mb-3 bg-light rounded">
      <h4 class="font-italic">Follow Us</h4>
      <ol class="list-unstyled mb-0">
        {% for i in links %}
        <li><a href="{{i.platform_link}}">{{i.platform_name}}</a></li>
        {% endfor %}
      </ol>
    </div>
  {% endif %}
  </div>

</div>
{% endblock %}
